/**
  * @name Collapsible UI: Overlapping automatically-hiding sidebar
  * @description PLaces tidebar to the left and makes it hide automatically.
  * @author Hebgbs
  * @version CUI.Dep
*/

/* Force scrollbar on left */
#private-channels,
.sidebar-2K8pFh .scroller-RmtA4e {
	direction: rtl;
}
#private-channels .content-3YMskv,
.sidebar-2K8pFh .scroller-RmtA4e .content-3YMskv {
	direction: ltr;
	left: var(--sideListOffset) !important;
}
/* Reposition unread pills */
#channels .unread-2lAfLh {
	left: calc(var(--sideSize) - var(--sidePillOffset)) !important;
	border-radius: 4px 0 0 4px !important;
}
/* Reposition channel category elements */
#channels .iconVisibility-fhcwiH {
	padding: 0 0 0 24px !important;
}
#channels .iconVisibility-fhcwiH .arrow-gKvcEx.icon-2yIBmh {
	left: 8px !important;
}
/* Make sidebar independent */
.sidebar-2K8pFh {
	position: absolute !important;
	transition: ease var(--revealSpd);
}
/* Autohide */
.sidebar-2K8pFh:not(:hover) {
	left: calc(-1 * (var(--sideSize) - var(--peekSize))) !important;
	transition-delay: var(--hideDly);
}
.sidebar-2K8pFh:hover {
	left: 0 !important;
}
/* Guild scroller shift */
.guilds-1SWlCJ .scroller-2TZvBN {
    margin-top: calc(var(--guildLeftShift) * var(--peekSize)) !important;
}
/* Reposition main interface elements */
.container-1D34oG,
.container-3Mxszk,
.applicationStore-1pNvnv > div {
	margin-left: calc(var(--mainLeftShift) * var(--peekSize));
}
.sidebar-2K8pFh .searchBar-6Kv8R2,
.sidebar-2K8pFh .container-1taM1r > header {
	margin-top: calc(var(--mainTopShift) * var(--peekSize));
}
.sidebar-2K8pFh .searchBar-6Kv8R2 > button,
.sidebar-2K8pFh .container-1taM1r > header H1,
.sidebar-2K8pFh .container-1taM1r > header SVG{
	margin-top: calc(var(--mainLeftShift) * (-1  * var(--peekSize)));
}
