/* Make guild bar independent and set above */
.guilds-1SWlCJ {
	position: absolute !important;
	transition: ease var(--revealSpd);
}

/* Reposition and reshape guildbar pills */
#app-mount .tutorialContainer-1v44GL .pill-2uzAFe.wrapper-sa6paO,
#app-mount .listItem-2P_4kh .pill-31IEus.wrapper-sa6paO,
#app-mount .listItem-2P_4kh .pill-1m5BUr.wrapper-sa6paO{
	top: calc(var(--server-size) - var(--guildPillOffset)) !important;
}
.item-2hkk8m {
	border-radius: 4px 0 0 4px !important;
}

/* Reposition Discord main interface */
#app-mount .layers-3iHuyZ.layers-3q14ss .base-3dtUhz {
	top: 0 !important;
}

.chat-3bRxxu {
	top: var(--peekSize) !important;
}

/* Set guild bar position for hover and unfocus states */
.guilds-1SWlCJ:not(:hover){
	top: var(--peekSize) !important;
	transition-delay: var(--hideDly);
}
.guilds-1SWlCJ:hover{
	top: var(--server-container) !important;
}
