/**
  * @name Collapsible UI: Z arrange
  * @description CUI: Rearranges interface layers
  * @author Hebgbs
  * @version CUI.Dep
*/

.scroller-3BxosC,
.bd-detached-editor .app-2rEoOp,
#bd-customcss-detach-container {
	z-index: 1 !important;
}
.container-1taM1r .header-2V-4Sw,
.chat-3bRxxu .title-3qD0b-,
.libraryHeader-3g95kE {
  z-index: 2 !important;
}
.sidebar-2K8pFh,
.guilds-1SWlCJ {
  z-index: 3 !important;
}
/* Other global code */
.base-3dtUhz .container-1D34oG {
  position: relative !important;
}
