.avatar-SmRMf2.wrapper-3t9DeA[aria-label*="Invisible"] .avatarSpeaking-2c8-9i {
    box-shadow:var(--userOnline) 0px 0px 0px 2px inset, var(--background-secondary) 0px 0px 0px 3px inset; }
.avatar-SmRMf2.wrapper-3t9DeA[aria-label*="Invisible"] .avatarSpeaking-2c8-9i {
    box-shadow:var(--userOnline) 0px 0px 0px 2px inset, var(--background-secondary) 0px 0px 0px 3px inset; }
.avatar-SmRMf2.wrapper-3t9DeA[aria-label*="Invisible"] .avatarSpeaking-2c8-9i {
    box-shadow:var(--userOnline) 0px 0px 0px 2px inset, var(--background-secondary) 0px 0px 0px 3px inset; }
.avatar-SmRMf2.wrapper-3t9DeA[aria-label*="Invisible"] .avatarSpeaking-2c8-9i {
    box-shadow:var(--userOnline) 0px 0px 0px 2px inset, var(--background-secondary) 0px 0px 0px 3px inset; }
